#container {
  width: 3rem;
  height: 3rem;
  stroke-width: 0.09rem;
  color: #232323;
}

#logo-text {
  margin-bottom: 0px;
  font-family: "Raleway", "sans-serif";
  font-size: 2rem;
  font-weight: 600;
}
